URxvt*foreground: gray
URxvt*background: black
URxvt*font: xft:Ubuntu Mono:size=13:antialias=true
URxvt*print-pipe: "cat > /dev/null"
URxvt*scrollBar: False
URxvt*secondaryScroll: 0
URxvt*secondaryWheel: 1
